set_io clk J3 #master clk
set_io rst K16
set_io mat_r0 B16
set_io mat_g0 C16
set_io mat_b0 D14
set_io mat_r1 D16
set_io mat_g1 D15
set_io mat_b1 E16
set_io mat_row0 E14
set_io mat_row1 F16
set_io mat_row2 F15
set_io mat_row3 G16
set_io mat_clk H14
set_io mat_lat J15
set_io mat_oe F14