set_io clk 21 #master clk
set_io rst 112
set_io mat_r0 113
set_io mat_g0 114
set_io mat_b0 115
set_io mat_r1 116
set_io mat_g1 117
set_io mat_b1 118
set_io mat_row0 62
set_io mat_row1 61
set_io mat_row2 60
set_io mat_row3 56
set_io mat_clk 48
set_io mat_lat 47
set_io mat_oe 45
set_io LED7 99
set_io LED6 98